# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.config

.vs/communityThrive2/v14/.suo

*.cache

.vs/communityThrive2/v14/.suo

.vs/config/applicationhost.config

*.config

*.dll

*.pdb

*.csproj

*.user

*.cache

*.dll

communityThrive/bin/MvvmDialogs.xml

communityThrive/bin/Simplify.Resources.xml

communityThrive/bin/Simplify.Windows.Forms.xml

communityThrive/communityThrive2.csproj

communityThrive/communityThrive2.csproj

*.user

communityThrive/communityThrive2.csproj.user

communityThrive/obj/Debug/communityThrive2.csprojResolveAssemblyReference.cache

communityThrive/obj/Debug/communityThrive2.dll

communityThrive/obj/Debug/communityThrive2.pdb

communityThrive/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

communityThrive2DB/communityThrive2DB.dbmdl

communityThrive2Test/obj/Debug/communityThrive2Tests.csprojResolveAssemblyReference.cache

communityThrive2Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

*.dll

*.pdb

communityThrive/bin/communityThrive2.dll

communityThrive/bin/communityThrive2.pdb

.vs/communityThrive2/v14/.suo

.vs/communityThrive2/v14/.suo

.vs/config/applicationhost.config

*.dll

*.pdb

*.csproj

*.csproj

*.dll

communityThrive/obj/Debug/communityThrive.csproj.FileListAbsolute.txt

communityThrive/obj/Debug/edmxResourcesToEmbed/Models/eventModel.ssdl

communityThrive2DB/communityThrive2DB.sqlproj

communityThrive2DB/.vs/communityThrive2DB/v14/.suo

.vs/communityThrive2/v14/.suo

.vs/communityThrive2/v14/.suo

.vs/config/applicationhost.config

.vs/config/applicationhost.config

communityThrive/bin/communityThrive2.dll

*.dll

*.csproj

*.user

communityThrive/obj/Debug/communityThrive.csproj.FileListAbsolute.txt

communityThrive/obj/Debug/communityThrive.csprojResolveAssemblyReference.cache

communityThrive/obj/Debug/communityThrive2.csproj.FileListAbsolute.txt

communityThrive/obj/Debug/communityThrive2.csprojResolveAssemblyReference.cache

communityThrive/obj/Debug/communityThrive2.dll

communityThrive/obj/Debug/communityThrive2.pdb
