@using communityThrive2.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //referneces the page layout that is stored in the shared folder
    ViewBag.Title = "Zipcode Lookup";
}

<div>
    @Html.LabelFor()
    
</div>

