@model communityThrive2.Models.companyModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UserLoginChoice";
}

<!DOCTYPE html>

<html>
<body>
   <p>Would you like to join company? 
    @Html.RadioButton("companyAccess","Yes")
    @Html.RadioButton("companyAccess", "No")</p>
</body>
</html>
