@model communityThrive2.Models.userModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "UserLogin";
}

<h2>
   User Login
</h2>
<body>
    <div>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email Address" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button> 
    </div>
</body>

    