@model communityThrive2.Models.userModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UserHome";
}

<div>
    <ul>@Html.ActionLink("Profile", "User Profile")</ul>
    <ul>@Html.ActionLink("Donations", "Donations")</ul>
    <ul>@Html.ActionLink("Events", "Events")</ul>
    <ul>@Html.ActionLink("Volunteers", "Volunteers")</ul>
</div>
<div>

</div>
