
<div>
    <button type="button" onclick="location.href = '@Url.Action("About", "Home")' ">Search Items</button>
</div>
<div>
    <button type="button" onclick="location.href = '@Url.Action("Index", "Home")' ">Return Home</button>
</div>

