<div class="jumbotron">

    <h1>Welcome to community thrive</h1>

        
            <div>
                <button type="button" onclick="location.href = '@Url.Action("About", "Home")' ">Search Items</button>
            </div>
            <div>
                <button type="button" onclick="location.href = '@Url.Action("Contact", "Home")' ">Contact Info</button>
            </div>
            
       
</div>