
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //referneces the page layout that is stored in the shared folder 
    ViewBag.Title = "RequestChoice";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>companyRequestView</title>
</head>
<body>
    <h6>Would you like to join a company?</h6>
    @using (Html.BeginForm("sendRequest","Request", FormMethod.Post))
    {
        @:Enter Would You Like To Join A Company? @Html.CheckBox("yesorno")
        <input type="submit" value="Submit" />
    }
    <div> 
      hello there
    </div>
    <div>
        <button type="button" onclick="location.href = '@Url.Action("Index", "Home")' ">Return Home</button>
    </div>
</body>
</html>
