@models communityThrive2Models.usermodel
@{
    ViewBag.Title = "user Login";
    Layout = ~/Views/Shared/_Layout.cshtml;



<h2>
    <meta name="viewport" content="width=device-width" />
    <title>userLogin</title>
</h2>
<body>
    <div> 
    </div>
</body>

