@model communityThrive2.Models.userModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "UserLogin";
}

<h2>
    <meta name="viewport" content="width=device-width" />
    <title>userLogin</title>
</h2>
<body>
    <div> 
    </div>
</body>

    